==

<div class="sidebar-widget contact-widget">
    <div class="widget-content">

        <div class="title">
            <h4>{{ 'Subscribe Us'|_ }}</h4>
        </div>
        <div class="newsletter-box-two">
            <div class="image-box">
                <div class="image-layer" style="background-image: url({{ 'assets/images/background/image-13.jpg'|theme }});"></div>
                <div class="text">Subscribe us to get latest news and events detail.</div>
                <form method="post" action="contact.html">
                    <div class="form-group clearfix">
                        <input type="email" name="email" value="" placeholder="mailid@example.com" required="">
                        <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">{{ 'Subscribe Us'|_ }}</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>